<!DOCTYPE html>
<html>
    <meta charaset="UTF-8">
    <title>VerificationHome</title>
    <head>
        <link rel="stylesheet" href="Home.css">
    </head>
    <body>
        <h1>VerificationHome</h1>
        <nav>
            <ul>
            <li class=”current”><a href=”#”>Excel</a></li>
            <li><a href=”#”>Calc</a></li>
            <li><a href=”#”>ExportResult</a></li>
            <li><a href=”#”>importDocument</a></li>
            <li><a href=”#”>ReportCreate</a></li>
            </ul>
            </nav>
    </body>
</html>